@media (max-width: 1759px) {
    .skill-progress{
        width: 11.80325rem;
    }
}

@media (max-width: 1747px) {
    .blog p{
        font-size: 15px;
    }
}

@media (max-width: 1716px) {
    .blog p{
        font-size: 15px;
    }
}

@media (max-width: 1491px) {
    .skill-progress{
        width: 09.80325rem;
    }
    .blog p{
        font-size: 13px
        width: 350px
    }
        
}
