/*FUENTE*/
@font-face {
    font-family: 'MontserratRegular';
    src: url('font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('font/Montserrat-Bold.ttf');
}

/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

body{
    background-color: gainsboro;
    width: 100%;
}

.portada{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 75%;
    height: 19.4375rem;
    background-color: white;
    border-radius: 12px;
}

.perfil img{
    display: block;
    float: left;
    width: 248px;
    height: 266.14px;
    margin-top: 22px;
    margin-left: 25px;
    border-radius: 12px;
}

.portada-texto{
    display: block;
    width: 70%;
    margin-left: 19.4375rem;
    padding-top: 1.25em;
}

.portada-texto h3{
    font-family: 'MontserratBold';
    font-size: 1.5rem;
    margin-bottom: 7px;
}

.portada-texto h4{
    font-family: 'MontserratRegular';
    font-size: 1.125rem;
    margin-bottom: 2.315rem;
}

.portada-texto p{
    font-family: 'MontserratRegular';
    color: gray;
    font-size: 1.125rem;
}

.portada-info{
    display: flex;
    float: right;
    padding-right: 44px;
    padding-top: 17px;
}

.portada-info-texto{
    display: block;
    font-family: 'MontserratRegular';
    font-size: 18px;
}

.portada-info-texto .correo{
    margin-bottom: 10px;
    margin-left: 20px;
    line-height: 24px;
}

.portada-info-texto .telefono{
    margin-left: 20px;
    line-height: 24px;
}

/*Habilidades profesionales*/

.skill{
    display: block;
    float: left;
    background-color: white;
    width: 25%;
    margin: 0 auto;
    margin-left: 238px;
    margin-top: 35px;
    height: 18.9375rem;
    border-radius: 12px;
}

.skill h4{
    font-family: 'MontserratBold';
    margin-left: 30PX;
    margin-top: 25PX;
}

ul{
    display: block;
    float: left;
    list-style: none;
    margin-left: 30PX;
    margin-top: 20px;
}

.skill ul li{
    font-family: 'MontserratRegular';
    margin-bottom: 20px;
}

.progress{
    display: block;
    float: right;
    margin-top: 25PX;
}

.skill-progress{
    height: 10px;
    width: 14.80325rem;
    border-radius: 5px;
    background-color: #C4C4C4;
    margin-bottom: 29px;
    margin-right: 50px;
}

.skill-progress-bar{
    width: 50%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.skill-progress-bar1{
    width: 25%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.skill-progress-bar2{
    width: 10%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.skill-progress-bar3{
    width: 70%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.skill-progress-bar4{
    width: 40%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.skill-progress-bar5{
    width: 20%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.blog{
    display: block;
    float: left;
    background-color: white;
    width: 48%;
    margin: 0 auto;
    margin-left: 38px;
    margin-top: 35px;
    height: 28.00663rem;
    border-radius: 12px;
}

.blog img{
    display: block;
    float: right;
    width: 396px;
    height: 321px;
    border-radius: 12px 0px 0px 12px;
}

.blog h5{
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: #E0E0E0;
    margin-top: 27px;
    margin-left: 30px;
}

.blog h3{
    font-family: 'MontserratBold';
    font-size: 24px;
    margin-top: 10px;
    margin-left: 30px;
}

.blog p{
    font-family: 'MontserratRegular';
    width: 450px;
    font-size: 16px;
    color: #828282;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
}

.blog a{
    font-family: 'MontserratRegular';
    font-size: 16px;
    text-decoration: none;
    color: #2F80ED;
    margin-left: 16px;
}

.blog a:hover{
    text-decoration: underline;
}

.hobbies{
    display: block;
    float: left;
    background-color: white;
    width: 25%;
    margin: 0 auto;
    margin-left: 238px;
    margin-top: -114px;
    height: 46.9375rem;
    border-radius: 12px; 
}

.hobbies h2{
    font-family: 'MontserratRegular';
    font-size: 24px;
    margin-top: 25px;
    margin-left: 30px;
}

.gaming img{
    width: 24.9375rem;
    height: 7.5625rem;
    border-radius: 12px;
    margin-top: 25px;
    margin-left: 30px;
}

.gaming h3{
    font-family: 'MontserratRegular';
    font-size: 18px;
    margin-top: 15px;
    margin-left: 30px;
}

.gaming h4{
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: #828282;
    margin-top: 15px;
    margin-left: 30px;
}

.anime img{
    width: 24.9375rem;
    height: 7.5625rem;
    border-radius: 12px;
    margin-top: 25px;
    margin-left: 30px;
}

.anime h3{
    font-family: 'MontserratRegular';
    font-size: 18px;
    margin-top: 15px;
    margin-left: 30px;
}

.anime h4{
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: #828282;
    margin-top: 15px;
    margin-left: 30px;
}

.multimedia img{
    width: 24.9375rem;
    height: 7.5625rem;
    border-radius: 12px;
    margin-top: 25px;
    margin-left: 30px;
}

.multimedia h3{
    font-family: 'MontserratRegular';
    font-size: 18px;
    margin-top: 15px;
    margin-left: 30px;
}

.multimedia h4{
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: #828282;
    margin-top: 15px;
    margin-left: 30px;
}

.experiencias{
    display: block;
    float: left;
    background-color: white;
    width: 48%;
    margin: 0 auto;
    margin-left: 38px;
    margin-top: 35px;
    height: 602px;
    border-radius: 12px;
}

.experiencias h2{
    font-family: 'MontserratRegular';
    font-size: 24px;
    margin-top: 30px;
    margin-left: 30px;
}

.castillo{
    margin-left: 30px;
    margin-top: -30px;
}

.castillo img{
    display: block;
    float: left;
    width: 7.45325rem;
    height: 5.25rem;
    margin-top: 58px;
    margin-left: 50px;
}

.castillo h5{
    font-family: 'MontserratRegular';
    font-size: 14px;
    color: #828282;
    margin-top: 60px;
    margin-left: 281px;
}

.castillo h4{
    font-family: 'MontserratBold';
    font-size: 16px;
    color: black;
    margin-left: 281px;
    margin-top: 31px;
}

.castillo p{
    font-family: 'MontserratRegular';
    font-size: 16px;
    width: 545px;
    margin-left: 281px;
    margin-top: 56px;
    color: #828282;
}

.simpapel{
    margin-top: 10px;
    margin-left: 30px;
}

.simpapel img{
    display: block;
    float: left;
    width: 15.45325rem;
    margin-top: 56px;
}

.simpapel h5{
    font-family: 'MontserratRegular';
    font-size: 14px;
    color: #828282;
    margin-top: 34px;
    margin-left: 280px;
}

.simpapel h4{
    font-family: 'MontserratBold';
    font-size: 16px;
    color: black;
    margin-left: 280px;
    margin-top: 31px;
}

.simpapel p{
    font-family: 'MontserratRegular';
    font-size: 16px;
    width: 545px;
    margin-left: 280px;
    margin-top: 56px;
    color: #828282;
}

.project{
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 7.1875rem;
    margin-top: 26px;
    background-color: white;
    border-radius: 12px;
}

.project h3{
    font-family: 'MontserratRegular';
    font-size: 18px;
    padding-top: 25px;
    margin-left: 30px;
}

.project button{
    background-color: white;
    width: 7.375rem;
    height: 2.0625rem;
    border: 1px solid;
    border-radius: 12px;
    margin-left: 30px;
    margin-top: 20px;
}

.project button:hover{
    background-color: #2F80ED;
    color: white;
    width: 7.375rem;
    height: 2.0625rem;
    border: 1px solid #2F80ED;
    border-radius: 12px;
    margin-left: 30px;
    margin-top: 20px;
}