/*FUENTE*/
@font-face {
    font-family: 'MontserratRegular';
    src: url('font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('font/Montserrat-Bold.ttf');
}

/*GENERALES*/
*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

body{
    background-color: gainsboro;
    width: 100%;
}

.portada{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    width: 75%;
    height: 19.4375rem;
    background-color: white;
    border-radius: 12px;
}

.perfil img{
    display: block;
    float: left;
    width: 248px;
    height: 266.14px;
    margin-top: 22px;
    margin-left: 25px;
    border-radius: 12px;
}

.personal-info{
    display: block;
    float: right;
}

.email img{
    width: 10%;
    height: 30px;
}

.email h5{
    display: block;
    float: right;
    font-family: 'MontserratRegular';
    line-height: 30px;
    padding-right: 89px;
}

.phone img{
    width: 10%;
    height: 30px;
}

.phone h5{
    display: block;
    float: right;
    font-family: 'MontserratRegular';
    line-height: 30px;
    padding-right: 164px;
}

.portada-texto{
    display: block;
    width: 70%;
    margin-left: 21.4375rem;
    padding-top: 1.25em;
}

.portada-texto h3{
    font-family: 'MontserratBold';
    font-size: 1.5rem;
    margin-bottom: 7px;
}

.portada-texto h4{
    font-family: 'MontserratRegular';
    font-size: 1.125rem;
    margin-bottom: 2.315rem;
}

.portada-texto p{
    font-family: 'MontserratRegular';
    color: gray;
    font-size: 1.125rem;
}

.portada-texto a{
    display: block;
    font-family: 'MontserratBold';
    text-decoration: none;
    color: #428bca;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #428bca;
    margin-top: 15px;
    transition: all 300ms;
}

.portada-texto a:hover{
    background-color: #2F80ED;
    color: white;
    border-radius: 12px;
}

/*Habilidades profesionales*/

.skill{
    display: block;
    float: left;
    background-color: white;
    width: 25%;
    margin: 0 auto;
    margin-left: 12.5%;
    margin-top: 35px;
    height: 18.9375rem;
    border-radius: 12px;
}

.skill h4{
    font-family: 'MontserratBold';
    margin-left: 30PX;
    margin-top: 25PX;
}

ul{
    display: block;
    float: left;
    list-style: none;
    margin-left: 30PX;
    margin-top: 20px;
}

.skill ul li{
    font-family: 'MontserratRegular';
    margin-bottom: 20px;
}

.progress{
    display: block;
    float: right;
    margin-top: 25PX;
}

.skill-progress{
    height: 10px;
    width: 14.80325rem;
    border-radius: 5px;
    background-color: #C4C4C4;
    margin-bottom: 29px;
    margin-right: 50px;
}

.skill-progress-bar{
    width: 50%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.skill-progress-bar1{
    width: 25%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.skill-progress-bar2{
    width: 10%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.skill-progress-bar3{
    width: 70%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.skill-progress-bar4{
    width: 40%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

.skill-progress-bar5{
    width: 20%;
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}

/*Mini Blog*/

.blog{
    display: block;
    float: left;
    background-color: white;
    width: 48%;
    margin: 0 auto;
    margin-left: 2%;
    margin-top: 35px;
    height: 28.00663rem;
    border-radius: 12px;
}

.blog img{
    display: block;
    float: right;
    width: 45%;
    height: 321px;
    border-radius: 12px 0px 0px 12px;
}

.blog h5{
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: #E0E0E0;
    margin-top: 27px;
    margin-left: 30px;
}

.blog h3{
    font-family: 'MontserratBold';
    font-size: 24px;
    margin-top: 10px;
    margin-left: 30px;
}

.blog p{
    font-family: 'MontserratRegular';
    width: 450px;
    font-size: 16px;
    color: #828282;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
}

.blog a{
    font-family: 'MontserratRegular';
    font-size: 16px;
    text-decoration: none;
    color: #2F80ED;
    margin-left: 16px;
}

.blog a:hover{
    text-decoration: underline;
}

/*Hobbies*/

.hobbies{
    display: block;
    float: left;
    background-color: white;
    width: 25%;
    margin: 0 auto;
    margin-left: 12.5%;
    margin-top: -114px;
    height: 46.9375rem;
    border-radius: 12px; 
}

.hobbies h2{
    font-family: 'MontserratRegular';
    font-size: 24px;
    margin-top: 25px;
    margin-left: 30px;
}

.gaming img{
    width: 84%;
    height: 7.5625rem;
    border-radius: 12px;
    margin-top: 25px;
    margin-left: 30px;
}

.gaming h3{
    font-family: 'MontserratRegular';
    font-size: 18px;
    margin-top: 15px;
    margin-left: 30px;
}

.gaming h4{
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: #828282;
    margin-top: 15px;
    margin-left: 30px;
}

.anime img{
    width: 84%;
    height: 7.5625rem;
    border-radius: 12px;
    margin-top: 25px;
    margin-left: 30px;
}

.anime h3{
    font-family: 'MontserratRegular';
    font-size: 18px;
    margin-top: 15px;
    margin-left: 30px;
}

.anime h4{
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: #828282;
    margin-top: 15px;
    margin-left: 30px;
}

.multimedia img{
    width: 84%;
    height: 7.5625rem;
    border-radius: 12px;
    margin-top: 25px;
    margin-left: 30px;
}

.multimedia h3{
    font-family: 'MontserratRegular';
    font-size: 18px;
    margin-top: 15px;
    margin-left: 30px;
}

.multimedia h4{
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: #828282;
    margin-top: 15px;
    margin-left: 30px;
}

/*experiencias*/

.experiencias{
    display: block;
    float: left;
    background-color: white;
    width: 48%;
    margin: 0 auto;
    margin-left: 2%;
    margin-top: 35px;
    height: 602px;
    border-radius: 12px;
}

.experiencias h2{
    font-family: 'MontserratRegular';
    font-size: 24px;
    margin-top: 30px;
    margin-left: 30px;
}

.castillo{
    margin-left: 30px;
    margin-top: -30px;
}

.castillo img{
    display: block;
    float: left;
    width: 15%;
    margin-top: 58px;
    margin-left: 50px;
}

.castillo h5{
    font-family: 'MontserratRegular';
    font-size: 14px;
    color: #828282;
    margin-top: 60px;
    margin-left: 281px;
}

.castillo h4{
    font-family: 'MontserratBold';
    font-size: 16px;
    color: black;
    margin-left: 281px;
    margin-top: 31px;
}

.castillo p{
    font-family: 'MontserratRegular';
    font-size: 16px;
    width: 60%;
    margin-left: 281px;
    margin-top: 56px;
    color: #828282;
}

.simpapel{
    margin-top: 10px;
    margin-left: 30px;
}

.simpapel img{
    display: block;
    float: left;
    width: 30%;
    margin-top: 56px;
}

.simpapel h5{
    font-family: 'MontserratRegular';
    font-size: 14px;
    color: #828282;
    margin-top: 34px;
    margin-left: 280px;
}

.simpapel h4{
    font-family: 'MontserratBold';
    font-size: 16px;
    color: black;
    margin-left: 280px;
    margin-top: 31px;
}

.simpapel p{
    font-family: 'MontserratRegular';
    font-size: 16px;
    width: 60%;
    margin-left: 280px;
    margin-top: 56px;
    color: #828282;
}

/*Project*/

.project{
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 7.1875rem;
    margin-top: 26px;
    background-color: white;
    border-radius: 12px;
}

.project h3{
    font-family: 'MontserratRegular';
    font-size: 18px;
    padding-top: 25px;
    margin-left: 30px;
}

.project a{
    display: block;
    float: left;
    font-family: 'MontserratBold';
    text-decoration: none;
    color: black;
    background-color: white;
    width: 7.375rem;
    height: 2.0625rem;
    line-height: 2.0625rem;
    text-align: center;
    border: 1px solid;
    border-radius: 12px;
    margin-left: 30px;
    margin-top: 10px;
    transition: all 300ms;
}


.project a:hover{
    background-color: #2F80ED;
    color: white;
    border: 1px solid #2F80ED;
}

.cards{
    width: 75%;
    height: 35.5rem;
    margin: 0 auto;
    padding-left: 2px;
    margin-top: 26px;
}

.card-content{
    display: block;
    float: left;
    overflow: hidden;
    width: 32%;
    height: 40.5rem;
    margin-left: 1px;
    background: white;
    border-radius: 16px;
}

.card-content:last-child{
    margin-left: 1.8%;
}

.card-content:nth-child(2){
    margin-left: 2%;
}

.card-content img{
    width: 105%;
    height: 20.5625rem;
    margin-left: -10px;
    border-bottom: 1px solid grey;
}

.card-content h4{
    font-family: 'MontserratRegular';
    font-size: 16px;
    color: #828282;
    margin-top: 10px;
    margin-left: 28px;
}

.card-content h3{
    font-family: 'MontserratBold';
    font-size: 24px;
    margin-left: 28px;
    margin-top: 20px;
}

.card-content p{
    font-family: 'MontserratRegular';
    font-size: 16px;
    margin-top: 20px;
    margin-left: 28px;
    width: 396px;
    color: #828282;
}

.card-content a{
    display: block;
    float: left;
    text-decoration: none;
    font-family: 'MontserratRegular';
    font-size: 18px;
    color: #2F80ED;
    width: 118px;
    height: 46px;
    margin-left: 28px;
    text-align: center;
    line-height: 46px;
    border: 1px solid #2F80ED;
    border-radius: 15px;
    margin-top: 25px;
    transition: all 300ms;
}

.card-content a:hover{
    display: block;
    float: left;
    text-decoration: none;
    font-family: 'MontserratRegular';
    font-size: 18px;
    color: #2F80ED;
    width: 118px;
    height: 46px;
    margin-left: 28px;
    text-align: center;
    line-height: 46px;
    border: 1px solid #2F80ED;
    background-color: #2F80ED;
    color: white;
    border-radius: 15px;
    margin-top: 25px;
}

footer{
    font-family: 'MontserratRegular';
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #828282;
}

footer a{
    font-family: 'MontserratBold';
    text-decoration: none;
    color: #828282;
}

footer a:hover{
    font-family: 'MontserratBold';
    text-decoration: underline;
    color: #828282;
}